.errorpage-watermark {
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
  color: #f5f5f5;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
